#mySidebar,body{
    background: linear-gradient(#92cd89 10%,#ffffff 35%,#ffffff 55%,#263844 75%)
    no-repeat bottom;
}
html{
    height:100%;
}
body {

    }

.title,.title:hover{color:#fff!important;background-color:#92cd89!important}
.w3-main{

}
@media (min-width:993px){ .w3-card{box-shadow:none}}
/*wykres*/
#chartdiv {
    padding: 0px 10px 0px 0px;
    width: 100%;
    height: 500px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
