/* Show it is fixed to the top */
body {
    /*min-height: 75rem;*/
    padding-top: 4.5rem;
}

.container {
    display: block;
    align-items: center;
    margin: auto;
}

/*#sortable {  margin: 0; padding: 0;  }*/
/*#sortable div { margin: 3px 3px 3px 0;  float: left;  text-align: center; }*/
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---- grid ---- */

.grid {
    /*margin: 0 auto;*/
    /*background: #DDD;*/
    width: 77%;
    display: block;
    position: absolute;
    left: 16%;
}


/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/*---- .grid-item ---- */
.grid-item-inside {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: blue;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 32px;

}

.grid-card {

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #ffffff;
    border-radius: .25rem;
}

.grid-item, .grid-item-invalid {
    /*padding-bottom: auto;*/
    padding: 10px;
    text-align: center;
    margin: 3px 3px 3px 0;
    float: left;
    text-align: center;
    cursor: move;
    width: 40%;

    padding-top: 40%;


    position: relative;

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .grid-item, .grid-item-invalid {
        width: 28%;
        padding-top: 28%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .grid-item, .grid-item-invalid {
        width: 21%;
        padding-top: 21%;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .grid-item, .grid-item-invalid {
        width: 17%;
        padding-top: 17%;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .grid-item, .grid-item-invalid {
        width: 12.5%;
        padding-top: 12.5%;
    }
}

.droppable {
    display: none;
}

@media (min-width: 768px) {
    .droppable {
        display: block;
    }

}

.grid-item--width2 {
    width: 400px;
}

.grid-item--height2 {
    height: 400px;
}

.grid-item:hover {
    /*border-color: hsla(170, 100%, 61%, 0.5);*/
    cursor: move;
}

.grid-item-invalid.is-dragging, .grid-item-invalid.is-positioning-post-drag,
.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    /*background: #C90;*/
    z-index: 2;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;


    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

/*Swich*/
/***********************************/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**/
.onoffswitch {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 86px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 31px;
    margin: -3.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    border: 2px solid #999999;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.trash-round {

    text-align: center;
    font-size: 20px;
    color: #007bff;
    width: 122px;
    margin: 25px 50px;
    text-shadow: 5px 2px 11px black;
}